body {
  margin: 0;
  font-family: 'GilroyRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: 'GilroyRegular';
  src: local('GilroyRegular'), url(./fonts/Gilroy-Regular-1.ttf) format('truetype');
} */